div{
		text-align:center;
		font-size:120%;
}
body{
	background: url("../img/Website_bg.png") no-repeat;
	background-size: cover;
	color:#B8860B;
}
/*good fonts :
- Aclonica
- Aladin
- Love Ya Like A Sister
- Oleo Script
- Zilla Slab Highlight

Cute world :
- Chewy

Squalidland :
- Black And White Picture
- Nosifer*/